# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [5]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
dir(3.5)

Hi! everyone, i'm kim

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

### `.join(iterable)`

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [10]:
# 아래에 코드를 작성하세요.
a = '가나 다라'.split(' ')
print(a)
b = ' '.join(a)
print(b)

['가나', '다라']
가나 다라

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [21]:
a = '가나 다라'
b = a.replace('가나', '차카')
print(b)

차카 다라

In [208]:
a = {1, 11, 111, 1111, 11111}
print(a.pop())
print(a.pop())
print(a.pop())
print(a.pop())

1
11111
11
111

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [22]:
# '\n'과 같은 공백 문자 제거에 자주 사용
d = 'This is strip.\n'
print(d)
print('--------')
print(d.strip())
print('--------')
print(d.lstrip())
print('--------')
print(d.rstrip())
print('--------')

This is strip.

--------
This is strip.
--------
This is strip.

--------
This is strip.
--------

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [25]:
# 중복 문자의 경우 첫 번째 글자의 index를 반환
# 없는 문자는 -1 반환
print('ssafy'.find('s'))
print('ssafy'.find('z'))

0
-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [26]:
# 없는 문자의 경우 error 발생
print('ssafy'.index('s'))
print('ssafy'.index('z'))

0

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [30]:
# 아래에 코드를 작성하세요.
'1'.isalpha()

False

## 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [33]:
caffe = ['bana', 'star']
caffe.append('been')
caffe += ['bene']
# 주의
caffe += 'bene'
print(caffe)

['bana', 'star', 'been', 'bene', 'b', 'e', 'n', 'e']

In [ ]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [36]:
caffe = ['bana', 'star']
caffe.extend(['hollys'])
caffe += ['bene']
# 주의
caffe.extend('been')
caffe += 'ediya'
print(caffe)

['bana', 'star', 'hollys', 'bene', 'b', 'e', 'e', 'n', 'e', 'd', 'i', 'y', 'a']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [39]:
# append와 비교해봅시다.
caffe = ['bana', 'w']
caffe.insert(0, 'star')
caffe.insert(-1, 'bene')
caffe.insert(len(caffe), 'hollys')
print(caffe)

['star', 'bana', 'bene', 'w', 'hollys']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [40]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)
numbers.remove(1)
print(numbers)

[1, 2, 3, 1, 2]
[2, 3, 1, 2]

In [43]:
# 중복된 값 1을 삭제 해봅시다.
numbers = [1, 2, 3, 1, 2]
while 1 not in numbers:
    numbers.remove(1)
print(numbers)

[1, 2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [47]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]
print(numbers.pop())
print(numbers.pop(0))
print(numbers)

6
1
[2, 3, 4, 5]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [55]:
# 모두 삭제되었는지 검증해봅시다.
def delete_all(l, target):
    for i in range(l.count(target)):
        l.remove(target)
        
numbers = [1, 2, 3, 4, 1, 2, 3, 1, 2]
delete_all(numbers, 1)
print(numbers)

[2, 3, 4, 2, 3, 2]

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [66]:
nums = [1, 3, 2]
nums.sort()
print(nums)
nums.sort(reverse=True)
print(nums)

[1, 2, 3]
[3, 2, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [68]:
classroom = [1, 2, 3]
l = reversed(classroom)
print(reversed(classroom))
print(list(l))
print(classroom)
print(classroom.reverse())
print(classroom)

<list_reverseiterator object at 0x05A16FB0>
[3, 2, 1]
[1, 2, 3]
None
[3, 2, 1]

## 복사

In [74]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied = original_list
copied[0] = 4
print(original_list)
print(copied)
print(id(original_list))
print(id(copied))

[4, 2, 3]
[4, 2, 3]
77752800
77752800

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
# 다른 방법으로 복사해봅시다.

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [75]:
import copy
student = {
    'name':'john'
    'job' : 'instructor'
}
student2 = copy.deepcopy(student)
student2['name'] = 'ashley'
print(student2)

<function hello at 0x059FD4F8>

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [78]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [80]:
# List Comprehension
cubic_list = [num ** 3 for num in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [82]:
numbers = range(1, 11)

In [83]:
# 기존의방법

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [136]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [137]:
# 반복문을 활용하여 만들어주세요.

In [139]:
# List comprehension을 활용하여 만들어주세요.
# 자동으로 상위/하위 for문
pairs = [(girl, boy) for girl in girls for boy in boys]
print(pairs)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [120]:
# 반복문을 활용하여 만들어주세요.
goras =[]
for x in range(50):
    for y in range(x+1, 50):
        for z in range(y+1,50):
            if x**2 + y**2 == z**2:
                goras.append((x, y, z))
print(goras)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [122]:
# List comprehension을 활용하여 만들어주세요.
goras = [(x,y,z) for x in range(50) for y in range(x+1, 50)
         for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(goras)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [131]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
jaum = ''.join([word for word in words if word not in 'aeoiuy'])
print(jaum)

Lf s t shrt,  nd pthn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [154]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
print(my_dict.pop('apple'))
print(my_dict)

사과
{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [157]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict = {'apple': '사과', 'banana': '바나나'}
print(my_dict.pop('apple'))
print(my_dict.pop('apple', 'No Key'))
print(my_dict)

사과
No Key
{'banana': '바나나'}

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [162]:
# .updaye(**kwargs)
# **kwargs는 unpacking 된 형태 or dic 형태로 인자 전달
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

# Unpacking 형태
my_dict.update(apple='포도', banana='감자')
print(my_dict)

# Dictionary 형태
update_dict = {'apple':'사과', 'banana':'바나나'}
my_dict.update(update_dict)
print(my_dict)

{'apple': '포도', 'banana': '감자', 'melon': '멜론'}
{'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [164]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

# my_dict['pineapple'] 오류
print(my_dict.get('pineapple'))

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [169]:
# dictionary comprehension
cubic_dict = {x:x**3 for x in range(1,11)}
print(type(cubic_dict))
print(cubic_dict)

<class 'dict'>
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [171]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [194]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
hell = {region:dusts[region] for region in dusts if dusts[region] > 80}
hell = {k : v for k, v in dusts.items() if v > 80}
print(hell)

{'대전': 82, '중국': 200}

In [189]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
check_dusts = {region:'나쁨' if dusts[region] > 80 else '보통' for region in dusts}
print(check_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [198]:
bad_example = {k:'매우나쁨' if v > 120 else '나쁨' if v > 80 else '보통' if v > 30 else '좋음' for k,v in dusts.items()}
print(bad_example)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [199]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('복숭아')
print(fruits)

{'사과', '복숭아', '수박', '바나나'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [204]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update(['복숭아', '포도', '복숭아', '포도', '복숭아', '포도', '복숭아', '포도'])
print(fruits)

{'복숭아', '포도', '수박', '바나나', '사과'}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [216]:
# 위의 코드를 문자열 '123'으로 만들어봅시다.
numbers = [1, 2, 3]
str_numbers = [str(num) for num in numbers]
print(str_numbers)
print(list(map(str, numbers)))

[1, 8, 27]
['1', '2', '3']
['1', '2', '3']

In [215]:
# list comprehension

[4, 5, 6]

In [ ]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [218]:
# 예시를 봅시다.

In [227]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
zipped = zip(girls, boys)
print(zipped)
# print(list(zipped))
print(dict(zipped))

<zip object at 0x097B3760>
{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [230]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [228]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [229]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [226]:
def even(n):
    return not n%2

numbers = range(1, 20)
list(filter(even, numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [152]:
# 책의 단어별 counting
import requests
url = 'http://composingprograms.com/shakespeare.txt'
novel = requests.get(url).text
# print(novel)
# 위 print는 너무 데이터가 길어서 에러
"""result
IOPub data rate exceeded."""

words = novel.split(' ')
print(len(words))
print(len(set(words)))
"""result
906255
41450"""

print(len({word for word in words}))
print(len({word for word in words if len(word) >= 6}))
print(len({word for word in words if len(word) >= 6 and word == word[::-1]}))
"""result
41450
33624"""

906255
41450
41450
33624
1

'result\n41450\n33624'